{{ assets:cover_image }}
    <div style="background-image:url( '{{ url }}' ); height: 600px; background-position: 50% 0px;" class="flex items-center min-h-screen w-full md:min-h-0 bg-cover mb-8 relative">
  {{ /assets:cover_image }}
        <div class="bg-black opacity-25 absolute w-full h-full"></div>
        <div class="flex flex-col mx-auto">

            <h1 class="mx-auto text-3xl lg:text-5xl font-bold text-white z-10">{{ title }}</h1>
            <table class="mx-auto mt-8 text-base z-10 border-collapse" style="border-spacing: 0;">

                <tbody>

                    <tr>
                        <td class="text-right border-white border-r text-white pr-2">
                        </td>
                        <td class="text-left pl-2">
                            <div class="rounded-full h-4 w-4 flex items-center justify-center bg-{{ color }}-darker">
                        </td>
                    </tr>

                    <tr>
                        <td class="text-right border-white border-r text-white pr-2">
                            Loire - Menetou-Salon
                        </td>
                        <td class="text-left text-white pl-2">
                            <a href="{{ url }}" class="text-white no-underline hover:underline">{{ grapes | get:name }}</a>
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>

        <div class="container min-w-full justify-center flex fixed pin-b py-6 md:hidden" style="background:linear-gradient( rgba( 0, 0, 0, 0 ), rgba( 0, 0, 0, 0.5 ) );">
            <div class="w-1/3 px-4 fa-2x text-center">
                <a href="#millesimes">
                    <i class="fas fa-tags fa-inverse text-center" data-fa-transform="shrink-4"></i>
                </a>
            </div>
            <div class="w-1/3 px-4 fa-2x text-center">
                <a href="#comments">
                    <i class="fas fa-comment fa-inverse text-center" data-fa-transform="shrink-4"></i>
                </a>
            </div>
            <div class="w-1/3 px-4 fa-2x text-center">
                <a href="#vintageprices">
                    <i class="fas fa-euro-sign fa-inverse text-center" data-fa-transform="shrink-4"></i>
                </a>
            </div>
        </div>
    
    </div>