<script type="application/ld+json">
{
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{ title }}",
      "image": [

       ],
      "description": "{{ description }}",
      "sku": "{{ code }}",
      "brand": {
        "@type": "Brand",
        "name": "{{ estate }}"
      },
      "offers": {
        "@type": "Offer",
        "url": "{{ permalink }}",
        "priceCurrency": "EUR",
        "price": "14.75",
        "itemCondition": "https://schema.org/UsedCondition",
        "availability": "https://schema.org/InStock",
        "seller": {
          "@type": "Organization",
          "name": "les vins personnalisés"
        }
      }
    }
</script>