{{ user }}

    {{ if no_results }}

        <div class="hidden md:block lg:flex mb-8 bg-grey-lighter lg:rounded-lg">
            <div class="h-auto lg:w-1/4 bg-cover rounded-l-lg pr-2 flex-none" style="background-image:url({{ theme:images src="bottles-lineup.jpg" }})"></div>
            <div class="p-4 flex flex-col justify-between leading-normal">
                <div class="text-black font-bold text-xl mb-2 text-center">{{ trans:login.title title={ title } }}</div>
                <div class="container flex sm:flex-row w-full mb-4">
                    <div class="w-full sm:w-1/3 text-center border-b sm:border-b-0 sm:border-r border-grey-darker px-2">
                        <h5 class="text-red-darker mt-4">{{ trans:login.promotion_header }}</h5>
                        <p>{{ trans:login.promotion_message }}</p>
                    </div>
                    <div class="w-full sm:w-1/3 text-center border-b sm:border-b-0 sm:border-r border-grey-darker px-2">
                        <h5 class="text-red-darker mt-4">{{ trans:login.transport_header }}</h5>
                        <p>{{ trans:login.transport_message }}</p>
                    </div>
                    <div class="w-full sm:w-1/3 text-center px-2">
                        <h5 class="text-red-darker mt-4">{{ trans:login.assurance_header }}</h5>
                        <p>{{ trans:login.assurance_message }}</p>
                    </div>
                </div>
                <div class="flex flex-row justify-between">
                    <div class="w-2/3 text-center">
                        {{ user:login_form redirect='{ current_url }' }}
                            <input class="h-8 rounded-lg bg-grey-light appearance-none py-2 px-3 mr-2 text-black focus:outline-none" name="username" type="email" placeholder="Adresse e-mail">
                            <input class="h-8 rounded-lg bg-grey-light appearance-none py-2 px-3 mr-2 text-black focus:outline-none" name="password" type="password" placeholder="Mot de passe">
                            <button type="submit">
                                <span class="fa-fw fa-layers fa-2x -mb-1" title="{{ trans:login.connexion }}">
                                    <i class="fas fa-circle text-green-darker"></i>
                                    <i class="fas fa-sign-in-alt fa-inverse" data-fa-transform="shrink-6"></i>
                                </span>
                            </button>
                        {{ /user:login_form }}
                    </div>
                    <div class="w-1/3 text-center">
                        <a  href="{{ link to='/register/?redirect={ current_url }' }}" 
                            class="mt-4 bg-blue-darker py-1 px-2 text-center rounded-lg no-underline text-white uppercase font-semibold">
                            {{ trans:login.creer_compte }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

   {{ /if }}

{{ /user }}