<div class="w-full mt-8 mb-4 -ml-4">
    <ul id="millesimes" class="list-reset flex flex-wrap">
        {{ variants sort="millesime" }}
            <li id="{{ millesime }}" class="vintage text-center px-4" onclick="show_vintages(this)">
                <a href="#" class="no-underline hover:no-underline">
                    <div class="text-sm font-bold px-2 bg-grey-lightest rounded-full text-red-darker">{{ millesime }}</div>
                </a>
            </li>
        {{ /variants }}
    </ul>
</div>