<div class="flex flex-col mb-2">
    <div>
        <h1 class="text-xl font-bold text-black roboto mb-2">{{ title }}</h1>
    </div>
    <div class="flex">
        <span class="rounded-full h-6 w-6 flex items-center justify-center {{ if color == 'red' }} bg-red-darker{{ /if }}
                                                                            {{ if color == 'white' }} bg-yellow-dark{{ /if }}
                                                                            {{ if color == 'pink' }} bg-pink-lighter{{ /if }}"></span>
        {{ if sparkling }}
            <img src="{{ theme:images src='sparkling.png'}}" alt="{{ trans:wine/sparkling }}" class="w-6 h-6 ml-2">
        {{ /if }}
        {{ if culture == "organic" }}
            <img src="{{ theme:images src='organic.png'}}" alt="{{ trans:wine/organic }}" class="w-6 h-6 ml-2">
        {{ /if }}
        {{ if culture == "biodynamic" }}
            <img src="{{ theme:images src='biodynamic.png'}}" alt="{{ trans:wine/biodynamic }}" class="w-6 h-6 ml-2">
        {{ /if }}
        {{ if natural_wine }}
            <img src="{{ theme:images src='so2.png'}}" alt="{{ trans:wine/nature }}" class="w-6 h-6 ml-2">
        {{ /if }}
    </div>
</div>
  
<div class="font-light">
    {{ relate:estate }}
        {{ unless no_results }}
        <a href="{{ url }}" class="text-red-darker no-underline hover:underline"> {{ title }}</a>
        {{ /unless }}
    {{ /relate:estate }}
</div>

<div class="font-light">
    {{ relate:appellations sort="level" }}
        {{ unless no_results }}
        <a href="{{ url }}" class="text-red-darker no-underline hover:underline"> {{ title }}</a>
        {{ unless last }}
            &nbsp;-&nbsp;
        {{ /unless }}
        {{ /unless }}
    {{ /relate:appellations }}
</div>

<div class="font-light">
    {{ relate:cepages }}
        {{ unless no_results }}
        <a href="{{ url }}" class="text-red-darker no-underline hover:underline"> {{ title }}</a>
        {{ unless last }}
            &nbsp;-&nbsp;
        {{ /unless}}
        {{ /unless }}
    {{ /relate:cepages }}
</div>