<div class="flex flex-col mb-2">

    <h1 class="text-xl font-bold text-black roboto mb-2">{{ title }}</h1>

    <div class="flex flex-row justify-between">
    
        <div class="flex">
            <span   class="rounded-full h-7 w-7 {{ if color == 'red' }} bg-red-darker {{ /if }}
                                                {{ if color == 'white' }} bg-yellow-dark {{ /if }}
                                                {{ if color == 'pink' }} bg-pink-lighter opacity-50 {{ /if }}"
                    title="{{ trans:wine.{{color}} }}"></span>
            {{ if sparkling }}
                <img src="{{ theme:images src='sparkling.png'}}" title="{{ trans:wine.sparkling }}" class="w-7 h-7 ml-2">
            {{ /if }}
            {{ if culture == "organic" }}
                <img src="{{ theme:images src='organic.png'}}" title="{{ trans:wine.organic }}" class="w-7 h-7 ml-2">
            {{ /if }}
            {{ if culture == "biodynamic" }}
                <img src="{{ theme:images src='biodynamic.png'}}" title="{{ trans:wine.biodynamic }}" class="w-7 h-7 ml-2">
            {{ /if }}
            {{ if natural_wine }}
                <img src="{{ theme:images src='so2.png'}}" title="{{ trans:wine.nature }}" class="w-7 h-7 ml-2">
            {{ /if }}
        </div>

        <div class="flex">
            <a href="https://www.facebook.com/sharer/sharer.php?u=178.62.220.251{{url}}">
                <span class="fa-fw fa-layers fa-2x" title="Share on Facebook">
                    <i class="fas fa-circle text-blue-darker"></i>
                    <i class="fab fa-facebook-f text-white" data-fa-transform="shrink-6"></i>
                </span>
            </a>
            <a href="https://twitter.com/intent/tweet?text=http%3A//178.62.220.251{{url}}">
                <span class="fa-fw fa-layers fa-2x ml-1" title="Share on Facebook">
                    <i class="fas fa-circle text-blue"></i>
                    <i class="fab fa-twitter text-white" data-fa-transform="shrink-6"></i>
                </span>
            </a>
        </div>

    </div>

</div>
  
<div class="font-light">
    {{ relate:estate }}
        {{ unless no_results }}
        <a href="{{ url }}" class="text-red-darker no-underline hover:underline"> {{ title }}</a>
        {{ /unless }}
    {{ /relate:estate }}
</div>

<div class="font-light">
    {{ relate:appellations sort="level" }}
        {{ unless no_results }}
        <a href="{{ url }}" class="text-red-darker no-underline hover:underline"> {{ title }}</a>
        {{ unless last }}
            &nbsp;-&nbsp;
        {{ /unless }}
        {{ /unless }}
    {{ /relate:appellations }}
</div>

<div class="font-light">
    {{ relate:cepages }}
        {{ unless no_results }}
        <a href="{{ url }}" class="text-red-darker no-underline hover:underline"> {{ title }}</a>
        {{ unless last }}
            &nbsp;-&nbsp;
        {{ /unless}}
        {{ /unless }}
    {{ /relate:cepages }}
</div>