
<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {{ if ! segment_1 }}
            <title>{{ trans:collection.homepage }} | les vins personnalisés</title>
            <meta name="title" content="les vins personnalisés">
        {{ /if }}
        {{ if collection == 'wines' }}
            <title>{{ relate:estate }} {{ title }} - {{ /relate:estate }} {{ title or seo:seo_title }} | les vins personnalisés</title>
            <meta name="title" content="{{ relate:estate }} {{ title }} - {{ /relate:estate }} {{ title or seo:seo_title }} | les vins personnalisés">
        {{ else }}
            <title>{{ title }} - {{ trans:collection.{{ collection }} }} | les vins personnalisés </title>
            <meta name="title" content="{{ title or seo:seo_title }} | les vins personnalisés">
        {{ /if }}
        <meta name="description" content="{{ meta_description or seo:seo_description }}">
        <meta name="thumbnail" content="https://levipe.be{{ assets:cover_image }}{{ url }}{{ /assets:cover_image }}"

        <link rel="alternate" hreflang="{{ locale }}" href="{{ permalink }}">
        {{ if locale == "fr" }}
            <link rel="alternate"  hreflang="nl" href="{{ permalink replace='fr|nl' }}">
         {{ else }}
            <link rel="alternate"  hreflang="fr" href="{{ permalink replace='{{ locale:key }}|fr' }}">
        {{ /if }}

        {{ aardvark-seo:head }}

        {{ recaptcha:head }}

        <link defer href="https://fonts.googleapis.com/css?family=Roboto:400,700|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="32x32" href='{{ theme:images src="favicon-32x32.png" tag="true" }}'>
        <link rel="icon" type="image/png" sizes="16x16" href='{{ theme:images src="favicon-16x16.png" tag="true" }}'>
        <link rel="icon" type="image/png" sizes="96x96" href='{{ theme:images src="favicon-96x96.png" tag="true" }}'>
        <link defer rel="stylesheet" href='{{ theme:css src="shopkeeper.min.css" }}'>
        
        {{ theme:js src="fontawesome.min" tag="true" }}

        <script>
            var store = {
                cart: {
                    shipping: 0,
                    totalAmount: 0,
                    cartLines: new Array
                }
            };
            if (sessionStorage.cart) {
                store.cart = JSON.parse(sessionStorage.cart)
            }
        </script>

        {{ if environment == 'production' }}
            {{ theme:css src="app.min" tag="true" }}
        {{ else }}
            {{ theme:css src="app" tag="true" }}
            {{ theme:css src="levipe" tag="true" }}
        {{ /if }}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43848540-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-43848540-3');
        </script>
        <script src="https://js.stripe.com/v3/"></script>
    </head>

    <body class="bg-grey-lightest">
        {{ aardvark-seo:body }}
        <div id="app">

                {{ partial:navigation }}

                {{ template_content }}

                {{ partial:footer }}

        </div>

    </body>

    {{ if environment == 'production' }}
        {{ theme:js src="app.min" tag="true" }}
    {{ else }}
        {{ theme:js src="app" tag="true" }}
    {{ /if }}

    {{ theme:js src="mainvue" tag="true" }}

    {{ yield:page_scripts }}

    {{ aardvark-seo:footer }}
</html>

