
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {{ aardvark-seo:head }}
        {{ recaptcha:head }}

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="32x32" href='{{ theme:images src="favicon-32x32.png" tag="true" }}'>
        <link rel="icon" type="image/png" sizes="16x16" href='{{ theme:images src="favicon-16x16.png" tag="true" }}'>
        <link rel="icon" type="image/png" sizes="96x96" href='{{ theme:images src="favicon-96x96.png" tag="true" }}'>
        <link rel="stylesheet" href='{{ theme:css src="shopkeeper.css" }}'>
        <title>{{ title }}</title>
        
        <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
        
        <script>
            let store = {
                cart: ( sessionStorage.cart ) ? JSON.parse( sessionStorage. cart ) : new Array,
            };
        </script>

        {{ if environment == 'production' }}
            {{ theme:css src="app" tag="true" }}
            {{ theme:css src="levipe" tag="true" }}
        {{ else }}
            {{ theme:css src="app" tag="true" }}
            {{ theme:css src="levipe" tag="true" }}
        {{ /if }}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43848540-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-43848540-3');
        </script>
    </head>

    <body class="bg-grey-lightest">
        {{ aardvark-seo:body }}
        <div id="app">

            {{ partial:navigation }}

            {{ template_content }}

        </div>

    </body>

    {{ if environment == 'production' }}
        {{ theme:js src="app.min" tag="true" }}
    {{ else }}
        {{ theme:js src="app" tag="true" }}
    {{ /if }}

    {{ theme:js src="mainvue" tag="true" }}

    {{ yield:page_scripts }}

    {{ aardvark-seo:footer }}
</html>

