
<div class="flex fixed px-4 md:px-0 justify-center min-w-full z-50" style="background:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));">
    <nav class="container flex py-6 z-50 text-white">
        <div class="justify-start">
            <span class="textlogo text-xl visible md:hidden mr-3">l . v . p</span>
            <span class="textlogo text-xl hidden md:inline mr-3">les vins personnalisés</span>
            {{ locales }}
                {{ if !first && locale:key != "en" }}
                    <a href="{{ url }}" class="mt-2">
                        <img src='{{ theme:images src="{ locale:key }.png" }}' width="18" class="-mb-1" />
                    </a>
                {{ /if }}
            {{ /locales }}
        </div>
        
        <div class="justify-end ml-auto">

            <div id="lvpcart" class="group inline relative">
                <a href="{{ locale_url }}cart">
                    <span class="fa-layers fa-fw fa-2x mr-8">
                        <i class="fas fa-shopping-cart text-white" data-fa-transform="shrink-4"></i>
                        <lvp-cart-counter></lvp-cart-counter>
                    </span>
                </a>
                <div class="absolute hidden pin-r group-hover:block">
                    <lvp-minicart></lvp-minicart>
                </div>
            </div>
            
            <div class="float-right fa-2x relative">
                <i class="far fa-user-circle text-white" data-fa-transform="shrink-4"></i>
            </div>

        </div>

    </nav>
</div>