
 <div class="flex mx-auto container">
    <div style="background-image:url( {{ theme:images src='cart-hero.jpg' }} ); height: 600px; background-position: 50% 0px;" class="hidden md:block w-full bg-cover mb-8 relative">
        <div class="bg-black opacity-25 absolute w-full h-full"></div>
            <div style="padding-top:300px;">
                <h1 class="text-2xl mt-8 md:mt-0 lg:text-5xl font-bold text-white relative text-center">{{ trans:cart.cart }}</h1>
            </div>
        </div>
    </div>
    <div class="sm:hidden">
        <div class="mb-8" style="padding-top: 100px;">
            <h1 class="text-2xl mt-8 font-bold text-grey-darkest relative text-center lg:text-5xl">{{ trans:cart.cart }}</h1>
        </div>
    </div>
    
    <div class="flex flex-col container mx-auto lg:flex-row">
        <div class="px-4 w-full lg:w-1/2 md:px-0 lg:pr-4 lg:border-r lg:border-red-darker">
            <lvp-cart></lvp-cart>
        </div>
        <div class="px-4 w-full lg:w-1/2 lg:pl-4">
            <div class="flex flex-col">

                <div class="flex flex-row justify-between bg-grey-light rounded-lg px-2 py-4 items-center mb-4">
                    <h4 class="text-black">{{ trans:cart.coupon }}</h4>
                    <div class="flex flex-row">
                        <div>
                            <input size="10" class="h-7 rounded-lg mr-2">
                        </div>
                        <i class="spk-icon-coupon text-3xl"></i>
                    </div>
                </div>

                <div class="flex flex-row justify-between bg-grey-light rounded-lg px-2 py-4 items-center mb-4"> 
                    <h4 class="text-black mb-2">{{ trans:cart.deliveryaddress }}</h4>
                </div>
            </div>
        </div>
    </div>

</div>