
 <div class="flex mx-auto container">
    <div style="background-image:url( {{ theme:images src='cart-hero.jpg' }} ); height: 600px; background-position: 50% 0px;" class="hidden md:block w-full bg-cover mb-8 relative">
        <div class="bg-black opacity-25 absolute w-full h-full"></div>
            <div style="padding-top:300px;">
                <h1 class="text-2xl mt-8 md:mt-0 lg:text-5xl font-bold text-white relative text-center">{{ trans:cart.cart }}</h1>
            </div>
        </div>
    </div>
    <div class="md:hidden">
        <div class="mb-8" style="padding-top: 100px;">
            <h1 class="text-2xl mt-8 font-bold text-grey-darkest relative text-center lg:text-5xl">{{ trans:cart.cart }}</h1>
        </div>
    </div>
    
    {{ user }}
        <lvp-cart   locale="{{ locale }}"
                    odoo-id="{{ odoo_id }}"
                    name="{{ name }}"
                    email="{{ username }}"
                    address="{{ address }}"
                    zip="{{ zip }}"
                    city="{{ city }}"
                    phone="{{ phone }}"
                    vat="{{ VAT }}"></lvp-cart>
    {{ /user }}

</div>

{{ section:page_scripts }}
<script>
function showTab(element) {
    tabs = document.getElementById("tabs").getElementsByTagName("div");
    
    [].forEach.call(tabs, function(div){
        if(div.id != element.id){
            div.classList.remove('text-white', 'bg-red-darker');
            document.getElementById(div.id+"Block").classList.remove('block');
            document.getElementById(div.id+"Block").classList.add('hidden');
        }
    });

    element.classList.add('text-white', 'bg-red-darker');
    document.getElementById(element.id+"Block").classList.add('block');
    document.getElementById(element.id+"Block").classList.remove('hidden');
}

function copyField(source, destination) {
    document.getElementById(destination).value = document.getElementById(source).value
}
</script>
{{ /section:page_scripts }}