<h1 class="hidden">les vins personnalisés</h1>
<div class="h-36 md:h-48"></div>

<div class="flex container flex-col mx-auto px-4 lg:px-0 mb-8 md:mb-12">
    {{ collection from="promotions" }}
        <a href= "{{locale_url}}{{ slug }}">
            <img src="/assets/img/Promo/{{slug}}.jpg">
        </a>
    {{ /collection }}
</div>

<div class="flex container flex-col mx-auto px-4 lg:px-0 mb-8">

    <pbs locale="{{ locale }}">
        {{ collection from="wines" sort="random" limit="1" }}
            <pb title="{{trans:collection.wines_pb}}" 
                collection="wines" file="{{asset:cover_image}}{{ glide:url height='120' quality='100' fit='crop_focal' }}{{/asset:cover_image}}">
            </pb>
        {{ /collection }}
        {{ collection from="estate" sort="random" limit="1" }}
            <pb title="{{trans:collection.estate_pb}}" 
                collection="estate" file="{{asset:cover_image}}{{ glide:url height='120' quality='100' fit='crop_focal' }}{{/asset:cover_image}}">
            </pb>
        {{ /collection }}
        {{ collection from="grape" sort="random" limit="1" }}
            <pb title="{{trans:collection.grape_pb}}" 
                collection="grape" file="{{asset:cover_image}}{{ glide:url height='120' quality='100' fit='crop_focal' }}{{/asset:cover_image}}">
            </pb>
        {{ /collection }}
        {{ collection from="region" sort="random" limit="1" }}
            <pb title="{{trans:collection.region_pb}}" 
                collection="region" file="{{asset:cover_image}}{{ glide:url height='120' quality='100' fit='crop_focal' }}{{/asset:cover_image}}">
            </pb>
        {{ /collection }}
        {{ collection from="article" sort="random" limit="1" }}
            <pb title="{{trans:collection.article_pb}}" 
                collection="article" file="{{asset:cover_image}}{{ glide:url height='120' quality='100' fit='crop_focal' }}{{/asset:cover_image}}">
            </pb>
        {{ /collection }}
        {{ collection from="delivery" sort="random" limit="1" }}
            <pb title="{{trans:collection.delivery_pb}}" 
                collection="delivery" file="{{asset:cover_image}}{{ glide:url height='120' quality='100' fit='crop_focal' }}{{/asset:cover_image}}">
            </pb>
        {{ /collection }}
    </pbs>

        
</div>