<h1 class="hidden">les vins personnalisés</h1>
<div class="h-36 md:h-48"></div>

<div class="flex container flex-col mx-auto px-4 lg:px-0 mb-8 md:mb-12">
    {{ collection from="promotions" }}
        <a href= "{{locale_url}}{{ slug }}">
            <img src="/assets/img/Promo/{{slug}}_{{locale}}.png">
        </a>
    {{ /collection }}
</div>

<div class="flex container flex-col mx-auto px-4 lg:px-0 mb-8">

    <div class="flex flex-row mb-8">
        {{ collection from="wines" sort="random" limit="1" }}
            <pushbutton collection="wines" file="{{asset:cover_image}}{{ glide:url height='120' quality='100' fit='crop_focal' }}{{/asset:cover_image}}" locale="{{locale}}"></pushbutton>
        {{ /collection }}
        {{ collection from="estate" sort="random" limit="1" }}
            <pushbutton collection="estate" file="{{asset:cover_image}}{{ glide:url height='120' quality='100' fit='crop_focal' }}{{/asset:cover_image}}" locale="{{locale}}"></pushbutton>
        {{ /collection }}
        {{ collection from="grape" sort="random" limit="1" }}
            <pushbutton collection="grape" file="{{asset:cover_image}}{{ glide:url height='120' quality='100' fit='crop_focal' }}{{/asset:cover_image}}" locale="{{locale}}"></pushbutton>
        {{ /collection }}
        {{ collection from="region" sort="random" limit="1" }}
            <pushbutton collection="region" file="{{asset:cover_image}}{{ glide:url height='120' quality='100' fit='crop_focal' }}{{/asset:cover_image}}" locale="{{locale}}"></pushbutton>
        {{ /collection }}
    </div>

    
        {{ collection from="grape|region|wines|estate" limit="20" paginate="true" scope="coll" as="grwe" }}
            {{ paginate }}
                <a href="{{ prev_page }}" class="mb-4 mx-auto"><i class="fas fa-chevron-circle-up fa-2x"></i></a>
            {{ /paginate }}
                <div id="mondrian" class="flex flex-wrap">
                    {{ grwe }}
                            <figure style="flex-grow:1; margin:.065rem;" class="mondrian {{collection}} opacity-100 relative">
                                <a href= "{{locale_url}}{{collection}}/{{ slug }}">
                                    <div>
                                        {{ asset:cover_image }}
                                            <img src="{{ glide:url height='120' quality='100' fit='crop_focal' }}" class="relative pin-t align-bottom min-w-full min-h-full" style="object-fit: cover; height:120px" alt="{{ alt }}">
                                        {{ /asset:cover_image }}
                                        <div class="absolute pin-b h-12 pt-6 pl-2 w-full" style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.498039)); background-position: initial initial; background-repeat: initial initial;">
                                                <span class="text-white text-xs truncate" style="font-weight:400;">{{ title }}</span>
                                        </div>
                                    </div>
                                </a>
                            </figure>
                    {{ /grwe }}
                </div>
            {{ paginate }}
                <a href="{{ next_page }}" class="mt-4 mx-auto"><i class="fas fa-chevron-circle-down fa-2x"></i></a>
            {{ /paginate }}
        {{ /collection }}
    </div>
</div>