<h1 class="hidden">Accords mets vins</h1>

<div class="h-36 md:h-48"></div>

<div class="flex container mx-auto flex-col px-4 lg:px-0">
    <div class="w-full">
        <wineandfood language={{ locale }}></wineandfood>
    </div>
    <div class="flex-col lg:flex-row">
        <div id="winePairing" class="flex flex-col mt-4">
        </div>
    </div>
</div>

<div class="h-12"></div>

<div class="flex container px-4 sm:px-0 md:px-4 lg:px-0 mx-auto flex-col text-lg leading-relaxed">
 
    {{ description }}
        
        {{ if type == "text" || type == "bard" }}
            {{ text }}
        {{ /if }}

        {{ if type == "image" }}
            <div class="relative inline float-left mr-6">
                <img class="md:max-w-sm" src="{{ image | url }}" alt="{{ caption }}" />
            </div>
        {{ /if }}

    {{ /description }}

</div>


{{ section:page_scripts }}

{{ /section:page_scripts }}