<wine-list>
    <wine>
        <wine-name>
            Domaine de Montvac - Adage, Rouge, Gigondas
        </wine-name>
        <price>18.50</price>
        <vintage>2015</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/adage</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de Montvac - Arabesque, Rouge, Vacqueyras
        </wine-name>
        <price>14.95</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/arabesque</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Luquet "Au Bourg", Blanc, Pouilly-Fuissé
        </wine-name>
        <price>20.5</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/au-bourg</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Dirler-Cade "Belzbrunnen", Blanc, Alsace Riesling
        </wine-name>
        <price>23.99</price>
        <vintage>2016</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/belzbrunnen</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Dirler-Cade "Kessler Riesling", Blanc, Alsace Riesling GC Kessler
        </wine-name>
        <price>32.15</price>
        <vintage>2014</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/riesling-gc-kessler</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Cailbourdin "Cuvée de Boisfleury", Blanc, Pouilly-Fumé
        </wine-name>
        <price>15.65</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/boisfleury</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Cailbourdin "Les Cornets", Blanc, Pouilly-Fumé
        </wine-name>
        <price>17.40</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/les-cornets</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Cailbourdin "Les Cris", Blanc, Pouilly-Fumé
        </wine-name>
        <price>17.99</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/les-cris</link>
    </wine>
    <wine>
        <wine-name>
            Château de Lascaux "Carra", Rouge, Pic-Saint-Loup
        </wine-name>
        <price>13.50</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/carra</link>
    </wine>
    <wine>
        <wine-name>
            Château de Lascaux "Garrigue", Blanc, Languedoc
        </wine-name>
        <price>9.99</price>
        <vintage>2019</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/garrigue-blanc</link>
    </wine>
    <wine>
        <wine-name>
            Château de Lascaux "Pierres d'Argent", Blanc, Languedoc
        </wine-name>
        <price>16.99</price>
        <vintage>2014</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/garrigue-blanc</link>
    </wine>
    <wine>
        <wine-name>
            Château de Lascaux "Garrigue", Rouge, Languedoc
        </wine-name>
        <price>10.065</price>
        <vintage>2019</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/garrigue-rouge</link>
    </wine>
    <wine>
        <wine-name>
            Château de Lascaux "Nobles Pierres", Rouge, Pic-Saint-Loup
        </wine-name>
        <price>17.06</price>
        <vintage>2015</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/nobles-pierres</link>
    </wine>
    <wine>
        <wine-name>
            Château de Lascaux "Nobles Pierres", Rouge, Pic-Saint-Loup
        </wine-name>
        <price>17.25</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/nobles-pierres</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Cavalier "Sauvignon-Viognier"
        </wine-name>
        <price>7.99</price>
        <vintage>2019</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/cavalier-sauvignon-viognier</link>
    </wine>
    <wine>
        <wine-name>
            Château de Côme, Rouge, Saint-Estèphe
        </wine-name>
        <price>27.30</price>
        <vintage>2015</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/chateau-de-come</link>
    </wine>
    <wine>
        <wine-name>
            Château la Mothe du Barry Vieilles Vignes, Rouge, Bordeaux Supérieur
        </wine-name>
        <price>26.20</price>
        <vintage>2015</vintage>
        <bottle-size>150cl</bottle-size>
        <link>https://www.levipe.be/wines/chateau-la-mothe-du-barry-vv</link>
    </wine>
    <wine>
        <wine-name>
            Château la Mothe du Barry Vieilles Vignes, Rouge, Bordeaux Supérieur
        </wine-name>
        <price>12.75</price>
        <vintage>2016</vintage>
        <bottle-size>150cl</bottle-size>
        <link>https://www.levipe.be/wines/chateau-la-mothe-du-barry-vv</link>
    </wine>
    <wine>
        <wine-name>
            Château Pigoudet, Rosé, Côtes d'Aix en Provence
        </wine-name>
        <price>23.40</price>
        <vintage>2017</vintage>
        <bottle-size>150cl</bottle-size>
        <link>https://www.levipe.be/wines/chateau-pigoudet</link>
    </wine>
    <wine>
        <wine-name>
            Château Pigoudet, Rosé, Côtes d'Aix en Provence
        </wine-name>
        <price>10.99</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/chateau-pigoudet</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Chante-Cigale, Rouge, Châteauneuf-du-Pape
        </wine-name>
        <price>30.99</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/chateauneuf-du-pape-rouge</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Chante-Cigale, Blanc, Châteauneuf-du-Pape
        </wine-name>
        <price>26.50</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/chateauneuf-du-pape-blanc</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Chante-Cigale Extrait Rouge, Rouge, Châteauneuf-du-Pape
        </wine-name>
        <price>116.97</price>
        <vintage>2015</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/extrait-rouge</link>
    </wine>
    <wine>
        <wine-name>
            Casale dello Sparviero, Rosso, Chianti Classico
        </wine-name>
        <price>13.95</price>
        <vintage>2016</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/chianti-classico</link>
    </wine>
    <wine>
        <wine-name>
            Casale dello Sparviero - Rosso di Toscana, Rosso, Toscana
        </wine-name>
        <price>8.40</price>
        <vintage>2016</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/rosso-di-toscana</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de Châtenoy - Classique Blanc, Blanc, Menetou-Salon
        </wine-name>
        <price>13.25</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/classique-blanc</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de Châtenoy - Classique Blanc, Blanc, Menetou-Salon
        </wine-name>
        <price>13.40</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/classique-blanc</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de Châtenoy - Classique Rouge, Rouge, Menetou-Salon
        </wine-name>
        <price>13.30</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/classique-rouge</link>
    </wine>
        <wine>
        <wine-name>
            Domaine de Châtenoy "Dame de Châtenoy", Blanc, Menetou-Salon
        </wine-name>
        <price>14.25</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/dame-de-chatenoy</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de la Sarazinière "Claude Seigneuret", Blanc, Mâcon-Bussières
        </wine-name>
        <price>17.15</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/claude-seigneuret</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de la Sarazinière "Clos des Bruyères", Blanc, Mâcon-Bussières
        </wine-name>
        <price>14.15</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/clos-des-bruyeres</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de la Sarazinière "Les Monterrains", Rouge, Mâcon-Serrières
        </wine-name>
        <price>14.65</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/les-monterrains</link>
    </wine>
    <wine>
        <wine-name>
            Domaine J. Laurens "Clos des Demoiselles", Blanc, Crémant de Limoux
        </wine-name>
        <price>15.79</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/clos-des-demoiselles</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de l'Epicourchois "Cour Cheverny", Blanc, Cour Cheverny
        </wine-name>
        <price>20.75</price>
        <vintage>2015</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/cour-cheverny</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de l'Epicourchois "Phyllade", Blanc, Vin de France
        </wine-name>
        <price>15.80</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/phyllade</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Servin "Cuvée Massale", Blanc, Chablis
        </wine-name>
        <price>19.20</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/cuvee-massale</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Servin "Montée de Tonnerre", Blanc, Chablis
        </wine-name>
        <price>22.75</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/montee-de-tonnerre</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Servin "Les Pargues", Blanc, Chablis
        </wine-name>
        <price>15.95</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/les-pargues</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Servin "Les Preuses", Blanc, Chablis
        </wine-name>
        <price>45.50</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/les-preuses</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Servin "Cuvée Massale", Blanc, Chablis
        </wine-name>
        <price>17.35</price>
        <vintage>2015</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/cuvee-massale</link>
    </wine>
    <wine>
        <wine-name>
            Echappée Gourmande - Merlot-Cabernet, Rouge, Pays d'Oc
        </wine-name>
        <price>8.65</price>
        <vintage>2016</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/echappee-gourmande-rouge</link>
    </wine>
    <wine>
        <wine-name>
            Echappée Gourmande - Naturel, Rouge, Pays d'Oc
        </wine-name>
        <price>9.15</price>
        <vintage>2019</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/echappee-gourmande-naturel</link>
    </wine>
    <wine>
        <wine-name>
            Echappée Gourmande - Syrah-Grenache, Rosé, Pays d'Oc
        </wine-name>
        <price>8.65</price>
        <vintage>2019</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/echappee-gourmande-rose</link>
    </wine>
    <wine>
        <wine-name>
            Echappée Gourmande - Chardonnay, Blanc, Pays d'Oc
        </wine-name>
        <price>8.65</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/echappee-gourmande-blanc</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Claude Maréchal - Savigny-lès-Beaune, Rouge, Côtes de Beaune, Bourgogne
        </wine-name>
        <price>35.50</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/savigny-les-beaune</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Rijckaert "En Paradis", Blanc, Arbois
        </wine-name>
        <price>18.50</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/en-paradis</link>
    </wine>
    <wine>
        <wine-name>
            Domaine d'Eole Tradition Blanc, Blanc, Vin de Pays des Alpilles
        </wine-name>
        <price>14.50</price>
        <vintage>2016</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/eole-blanc</link>
    </wine>
    <wine>
        <wine-name>
            Domaine d'Eole Tradition Rouge, Rouge, Côtes d'Aix en Provence
        </wine-name>
        <price>14.50</price>
        <vintage>2016</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/eole-rouge</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Rijckaert "l'Epinet", Blanc, Viré-Clessé
        </wine-name>
        <price>17.75</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/epinet</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Michel Thomas et Fils "Lachaume", Rouge, Sancerre
        </wine-name>
        <price>14.04</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/la-chaume-rouge</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Michel Thomas et Fils "Lachaume", Blanc, Sancerre
        </wine-name>
        <price>14.04</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/la-chaume-blanc</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Romaneaux-Destezet "Les Cessieux", Rouge, Saint-Joseph
        </wine-name>
        <price>33.50</price>
        <vintage>2014</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/les-cessieux</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Romaneaux-Destezet "Sainte-Epine", Rouge, Saint-Joseph
        </wine-name>
        <price>38.95</price>
        <vintage>2014</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/sainte-epine</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Romaneaux-Destezet "La Souteronne", Rouge, Vin de France
        </wine-name>
        <price>18.15</price>
        <vintage>2014</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/la-souteronne</link>
    </wine>
    <wine>
        <wine-name>
            Domaine J. Laurens "La Rose N° 7", Rosé, Crémant de Limoux
        </wine-name>
        <price>13.49</price>
        <vintage>NV</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/la-rose-no-7</link>
    </wine>
    <wine>
        <wine-name>
            Domaine J. Laurens "Les Graimenous", Blanc, Crémant de Limoux
        </wine-name>
        <price>12.95</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/les-graimenous</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de Laulan "Les Bardots", Blanc, Côtes de Duras
        </wine-name>
        <price>7.75</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/les-bardots</link>
    </wine>
    <wine>
        <wine-name>
            Champagne Eric Legrand Brut Réserve, Blanc, Champagne
        </wine-name>
        <price>22.49</price>
        <vintage>NV</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/legrand-brut-cuvee-reserve</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Lafond "Le Clos des Messieurs", Blanc, Reuilly
        </wine-name>
        <price>13.05</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/le-clos-des-messieurs</link>
    </wine>
    <wine>
        <wine-name>
            Domaine La Colombette "Pink Colomb Bay", Rosé, Pays d'Oc
        </wine-name>
        <price>9.45</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/pink-colomb-bay</link>
    </wine>
    <wine>
        <wine-name>
            Domaine La Colombette - Chardonnay, Blanc, Pays d'Oc
        </wine-name>
        <price>7.75</price>
        <vintage>2019</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/chardonnay-colombette</link>
    </wine>
    <wine>
        <wine-name>
            Domaine La Colombette "Pink Colomb Bay", Rosé, Pays d'Oc
        </wine-name>
        <price>9.45</price>
        <vintage>2019</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/pink-colomb-bay</link>
    </wine>
    <wine>
        <wine-name>
            Château Thuillac, Red, Côtes de Bourg
        </wine-name>
        <price>9.50</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/chateau-thuillac</link>
    </wine>
    <wine>
        <wine-name>
            Domaine La Colombette "Lledoner Pelut", Rouge, Pays d'Oc
        </wine-name>
        <price>17.25</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/lledoner-pelut</link>
    </wine>
    <wine>
        <wine-name>
            Domaine La Colombette "Pinot Noir", Rouge, Pays d'Oc
        </wine-name>
        <price>8.80</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/pinot-noir-demi-muid</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de la Charmoise "Première Vendange", Rouge, Gamay de Touraine
        </wine-name>
        <price>13.75</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/premiere-vendange</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de la Charmoise "Provignage", Blanc, Touraine
        </wine-name>
        <price>75.00</price>
        <vintage>2015</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/provignage</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de la Charmoise "Vinifera Sauvignon", Blanc, Sauvignon de Touraine
        </wine-name>
        <price>18.75</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/vinifera-sauvignon</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de la Charmoise "Renaissance", Rouge, Gamay de Touraine
        </wine-name>
        <price>21.95</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/renaissance</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de la Charmoise "Sauvignon de Touraine", Blanc, Sauvignon de Touraine
        </wine-name>
        <price>11.30</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/sauvignon-de-touraine</link>
    </wine>
    <wine>
        <wine-name>
            Domaine les Aurelles "Solen", Rouge, Languedoc
        </wine-name>
        <price>35.00</price>
        <vintage>2011</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/solen</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Le Roc des Anges "Llum", Blanc, Vin de Pays catalan
        </wine-name>
        <price>18.50</price>
        <vintage>2014</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/llum</link>
    </wine>
    <wine>
        <wine-name>
            Vermentitude, Blanc, Vin de Pays des Alpilles
        </wine-name>
        <price>20.50</price>
        <vintage>2016</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/vermentitude</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Le Roc des Anges "Reliefs", Rouge, Roussillon
        </wine-name>
        <price>21.49</price>
        <vintage>2014</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/reliefs</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de l'Epicourchois "Romo'Solo", Blanc, Vin de France
        </wine-name>
        <price>32.75</price>
        <vintage>2008</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/romosolo</link>
    </wine>
    <wine>
        <wine-name>
            Domaine François Chidaine "Les Choisilles", Blanc, Montlouis-sur-Loire
        </wine-name>
        <price>25.75</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/les-choisilles</link>
    </wine>
    <wine>
        <wine-name>
            Domaine François Chidaine "Les Argiles", Blanc, Vin de France
        </wine-name>
        <price>25.75</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/les-argiles</link>
    </wine>
    <wine>
        <wine-name>
            Domaine François Chidaine "Baudoin", Blanc, Vin de France
        </wine-name>
        <price>28.30</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/baudoin</link>
    </wine>
    <wine>
        <wine-name>
            Domaine François Chidaine "Les Bournais", Blanc, Montlouis-sur-Loire
        </wine-name>
        <price>28.30</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/les-bournais</link>
    </wine>
    <wine>
        <wine-name>
            Pierre et Bertrand Couly "V", Rouge, Chinon
        </wine-name>
        <price>12.50</price>
        <vintage>2010</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/v</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Le Roc des Anges "1903", Rouge, Côtes de Roussillon Villages
        </wine-name>
        <price>31.20</price>
        <vintage>2011</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/carignan-1903</link>
    </wine>
    <wine>
        <wine-name>
            Domaine Claude Lafond "Cuvée Nathalie", Blanc, Reuilly
        </wine-name>
        <price>14.95</price>
        <vintage>2017</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/cuvee-nathalie-blanc</link>
    </wine>
    <wine>
        <wine-name>
            Bodegas Bhilar - Bhilar Plots Tinto, Tinto, Rioja
        </wine-name>
        <price>11.90</price>
        <vintage>2018</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/bhilar-plots-tinto</link>
    </wine>
    <wine>
        <wine-name>
            Domaine La Colombette - Cabernet Blanc, Blanc, IGP Pays d'Oc
        </wine-name>
        <price>8.75</price>
        <vintage>2019</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/cabernet-blanc</link>
    </wine>
    <wine>
        <wine-name>
            Bodegas Bhilar - La Revilla Blanco, Blanco, Rioja
        </wine-name>
        <price>76</price>
        <vintage>2013</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/la-revilla-blanco</link>
    </wine>
    <wine>
        <wine-name>
            Bodegas Bhilar - Phinca Hapa Tinto, Tinto, Rioja
        </wine-name>
        <price>21.50</price>
        <vintage>2016</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/phinca-hapa-tinto</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de la Charmoise "Marionnet Rouge", Rouge, Gamay de Touraine
        </wine-name>
        <price>11.05</price>
        <vintage>2019</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/gamay-de-touraine</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de la Colombette "Degré d'Antan", Rosé, Vin de Pays de l'Hérault
        </wine-name>
        <price>29.99</price>
        <vintage>2019</vintage>
        <bottle-size>5L</bottle-size>
        <link>https://www.levipe.be/wines/degre-dantan-rose</link>
    </wine>
    <wine>
        <wine-name>
            Domaine de la Colombette "Degré d'Antan", Rouge, Vin de Pays de l'Hérault
        </wine-name>
        <price>29.99</price>
        <vintage>2019</vintage>
        <bottle-size>5L</bottle-size>
        <link>https://www.levipe.be/wines/degre-dantan-rouge</link>
    </wine>
    <wine>
        <wine-name>
            Bodegas Bhilar "Phincalali", Tinto, Rioja
        </wine-name>
        <price>52.50</price>
        <vintage>2016</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/phincalali</link>
    </wine>
    <wine>
        <wine-name>
            Bodegas Bhilar "Phincas Thousand Mils", Blanco, Rioja
        </wine-name>
        <price>33.50</price>
        <vintage>2016</vintage>
        <bottle-size>75cl</bottle-size>
        <link>https://www.levipe.be/wines/phincas-thousand-mils</link>
    </wine>
</wine-list>