
<div class="h-64"></div>

<div class="flex justify-center">
  
  <div class="flex container flex-col">
    
    {{ partial:login }}
    
    <div class="flex">
      <div class="w-2/5">
        {{ partial:wine/hero }}
      </div>
      
      <div class="w-3/5">
        <div class="w-1/2 mx-4">
            <div class="flex justify-between mb-1">
                <div class="">
                    <h1 class="text-xl font-bold text-black roboto">{{ title }}</h1>
                </div>
                <div class="flex">
                    <span class="rounded-full h-4 w-4 flex items-center justify-center ml-2 {{ if color == 'red' }} bg-red-darker{{ /if }}
                                                                                            {{ if color == 'white' }} bg-yellow-dark{{ /if }}
                                                                                            {{ if color == 'pink' }} bg-pink-lighter{{ /if }}"></span>
                </div>
            </div>
            <div class="font-light">
                {{ relate:appellations sort="level" }}
                  <a href="{{ url }}" class="text-red-darker no-underline hover:underline"> {{ title }}</a>
                  {{ unless last }}
                    &nbsp;-&nbsp;
                  {{ /unless }}
                {{ /relate:appellations }}
            </div>
            <div class="font-light -mt-1">
                {{ relate:cepages }}
                <a href="{{ url }}" class="text-red-darker no-underline hover:underline"> {{ title }}</a>
                {{ unless last }}
                  &nbsp;-&nbsp;
                {{ /unless}}
              {{ /relate:cepages }}
            </div>
        </div>

        <div class="mx-4 flex flex-col lg:flex-row">
    
          <div class="w-full lg:w-1/2" id="vintage_descriptions">

            {{ partial:wine/vintages_list }}

            {{ variants }}

              <div id="description-{{ millesime }}" class="mt-2 hidden">
                <div class="flex mb-6">
                  {{ scores }}
                    <div class="w-1/3 pr-2">
                        <img style="background-image: url( {{ theme:images src='{ guide }.jpg' }} )" class="bg-cover h-6 w-6 mr-6 align-middle" />
                        <span class="text-xl font-bold absolute mt-0">{{ score }} / {{ maxscore }}</span>
                    </div>
                  {{ /scores }}
                </div>
                {{ description }}
              </div>

            {{ /variants }}

          </div>
        
          <div class="lg:w-2/5 mt-6"  style="min-width:16rem;">

            {{ user }}

              {{ unless no_results }}

                {{ laradoo:variants_of_a_wine odoowine="{ odoo }" customer="{ email }" }}

                  <div id="vintageprices">

                    {{ vintages }}
                      <div id="volumes-{{ millesime }}" class="px-1 py-2 lg:p-2 mt-8 rounded-lg bg-grey-light hidden justify-between">
                        {{ variants }}
                          <lvp-variant wine="{{ title }}" 
                                      variant-id="{{ variantId }}" 
                                      vintage="{{ millesime }}" 
                                      volume="{{ volume }}" 
                                      price="{{ price }}" 
                                      quantity="{{ quantity }}" 
                                      bo="{{ bo }}" 
                                      gof="{{ gof }}" 
                                      bogof_discount="{{ bogof_discount }}"
                                      bogof_title="{{ trans:cart.bogof bo='{ bo }' gof='{ gof }' bogof_discount='{ bogof_discount }' }}">
                          </lvp-variant>
                        {{ /variants }}
                      </div>
                    {{ /vintages}}

                  </div>

                {{ /laradoo:variants_of_a_wine }}

                <!-- comment system -->
                {{ partial:comments/meerkat }}

              {{ /unless }}

            {{ /user }}
        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- script filess -->
{{ section:page_scripts }}

  <script>

      function show_vintages( element ) {
        vintage = element.id;
    
        vintages = document.getElementById( "millesimes" );
        vintages = vintages.getElementsByClassName( "vintage" );
    
        // hide descriptions and volumes
        for( var i=0; i < vintages.length; i++ ) {
          
          document.getElementById( vintages[i].id ).getElementsByTagName( "div" )[0].className = document.getElementById( vintages[i].id ).getElementsByTagName( "div" )[0].className.replace(/bg-red-darker/g,'bg-grey-lightest');
          document.getElementById( vintages[i].id ).getElementsByTagName( "div" )[0].className = document.getElementById( vintages[i].id ).getElementsByTagName( "div" )[0].className.replace(/text-white/g,'text-red-darker');

          document.getElementById( "description-" + vintages[i].id ).className += document.getElementById( "description-"+vintages[i].id ).className.indexOf("hidden") < 0 ? " hidden" : "";
          if ( document.getElementById( "volumes-" + vintages[i].id ) ) {
            document.getElementById( "volumes-" + vintages[i].id ).className += document.getElementById( "volumes-"+vintages[i].id ).className.indexOf("hidden") < 0 ? " hidden" : "";
          };
        };
    
        // show the descriptions upon which the vintage was selected
        element.getElementsByTagName( "div" )[0].className = element.getElementsByTagName( "div" )[0].className.replace(/bg-grey-lightest/, 'bg-red-darker');
        element.getElementsByTagName( "div" )[0].className = element.getElementsByTagName( "div" )[0].className.replace(/text-red-darker/, 'text-white');

        document.getElementById( "description-" + vintage ).className = document.getElementById( "description-"+vintage ).className.replace(/hidden/g, '');
        if ( document.getElementById( "volumes-" + vintage ) ) {
          document.getElementById( "volumes-"+vintage ).className = document.getElementById( "volumes-"+vintage ).className.replace(/hidden/g, '');
        }
      };
    
      ( function() {
        millesimes = document.getElementById( "millesimes" ).getElementsByTagName( "li" );
        millesimesLastChild = millesimes[ millesimes.length - 1 ];

        // click on it
        millesimesLastChild.click();

      }) ();
    </script>

{{ /section:page_scripts }}