<a class="text-black font-regular uppercase no-underline"
    @click="$modal.show('login-modal')"
>
    <i class="spk-icon-user-account text-xl"></i>
</a>
<modal 
    name="login-modal"
    classes="py-8 px-8 bg-white shadow-lg"
    height="auto"
>
    <div>
        <div class="flex flex-col text-center">
            <img src="{{ theme:images src='logo_levipe.png' }}" class="h-14 w-auto lg:h-24 lg:w-auto mb-6 mx-auto" />
            <div id="connexion">
                <h4 class="uppercase mb-6">{{ trans:login.login }}</h4>
                <div class="flex flex-col mx-auto">
                    {{ user:login_form redirect='{ current_url }' }}
                        <div class="mb-2">
                            <input class="bg-grey-light appearance-none w-2/5 rounded-lg py-2 px-4 mr-4 text-black focus:outline-none" 
                                    name="username" 
                                    type="email" 
                                    placeholder="{{trans:login.email}}">
                            <input class="bg-grey-light appearance-none w-2/5 rounded-lg py-2 px-4 mr-4 text-black focus:outline-none" 
                                    name="password" 
                                    type="password" 
                                    placeholder="{{trans:login.password}}">
                        </div>
                        <div class="flex flex-col">
                            <div class="flex justify-between w-4/5 mx-auto items-center mb-6">
                                <span class="text-xs font-medium -ml-4 underline" onclick="toggle_connexions()">{{ trans:login.init_password }}</span>
                                <button type="submit">
                                        <span class="fa-fw fa-layers fa-2x -mr-1" title="{{ trans:login.connexion }}">
                                            <i class="fas fa-circle text-green-darker"></i>
                                            <i class="fas fa-sign-in-alt fa-inverse" data-fa-transform="shrink-6"></i>
                                        </span>
                                </button>
                            </div>
                            <div>
                                <a href="{{ link to='/register/?redirect={ current_url }' }}">
                                    <h4 class="text-black underline uppercase">{{ trans:login.creer_compte }}</h4>
                                </a>
                            </div>
                        </div>
                    {{ /user:login_form }}
                </div>
            </div>
            <div id="lostpassword" class="hidden">
                <h4 class="uppercase mb-6">{{ trans:login.init_password }}</h4>
                    {{ user:forgot_password_form reset_url="/reset-password" }}

                    {{ if email_sent }}
                
                        <p>Email sent!</p>
                
                    {{ else }}
                
                        {{ if errors }}
                            <div class="alert alert-danger">
                                {{ errors }}
                                    {{ value }}<br>
                                {{ /errors }}
                            </div>
                        {{ /if }}

                        <div class="flex w-3/5 mx-auto items-center mb-6">
                            <input class="bg-grey-light appearance-none w-4/5 rounded-lg py-2 px-4 mr-4 text-black focus:outline-none" 
                                        name="username" 
                                        type="email" 
                                        placeholder="{{trans:login.email}}">
                    
                            <button type="submit">
                                <span class="fa-fw fa-layers fa-2x -mr-1" title="{{ trans:login.connexion }}">
                                    <i class="fas fa-circle text-green-darker"></i>
                                    <i class="fas fa-paper-plane text-white" data-fa-transform="shrink-6"></i>
                                </span>
                            </button>
                        </div>
                
                    {{ /if }}
                
                {{ /user:forgot_password_form }}
            </div>
        </div>
    </div>
</modal>

<script>
function toggle_connexions() {
    document.getElementById('connexion').classList.toggle('hidden');
    document.getElementById('lostpassword').classList.toggle('hidden');
}
</script>