<div class="bg-grey-light rounded-lg my-8 px-4 py-2 lg:py-4">
    {{ if wines_caption }}
        <h5 class="uppercase mt-2 mb-4">{{ wines_caption }}</h5>
    {{ /if }}

    <div class="flex">
        {{ relate:wines }}
            <div class="mr-2 md:mr-6">
                <a href="{{ url }}">
                    {{ assets:label_image }}
                        <img class="h-12 w-12 lg:w-24 lg:h-24 bg-cover rounded-full" src="{{ url }}">
                    {{ /assets:label_image }}
                </a>
            </div>
        {{ /relate:wines }}
    </div>

    {{ if wines_text }}
        <div class="mt-2 md:mt-4">
            {{ wines_text }}
        </div>
    {{ /if }}
</div>