<div class="flex justify-center">
    <div class="flex container flex-col">
        <div>
            <div style="background-image:url( {{ theme:images src='register-hero.jpg' }} ); height: 600px; background-position: 50% 0px;" class="hidden sm:block w-full bg-cover mb-8 relative">
                <div class="bg-black opacity-25 absolute w-full h-full"></div>
                <div style="padding-top:300px;">
                    <h1 class="text-3xl lg:text-5xl font-bold text-white relative text-center">{{ trans:signup.account }}</h1>
                </div>
            </div>
            <div class="sm:hidden">
                <div class="mb-8 mt-8" style="padding-top: 100px;">
                    <h1 class="text-3xl lg:text-5xl font-bold text-grey-darkest relative text-center">{{ trans:signup.account }}</h1>
                </div>
            </div>
        </div>

        <div>

            {{ user:register_form in="registration" allow_request_redirect="true" }}
                <div class="flex container flex-col md:flex-row">
                    
                    <div class="px-2 md:pl-0 md:pr-6 border-b border-red-darker md:border-b-0 md:border-r md:w-2/5">
                        <div class="mx-2 md:mx-0 md:flex md:items-center mb-6">
                            <div class="w-1/3"></div>
                            <div class="w-2/3 text-red-darker font-semibold">                            
                                {{ trans:signup.obligatoires }}
                            </div>
                        </div>
                        <div class="mx-2 md:mx-0 md:flex md:items-center mb-6">
                            <div class="md:w-1/3">
                                <label class="block text-black font-semibold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                                {{ trans:signup.email }}
                                </label>
                            </div>
                            <div class="md:w-2/3">
                                <input class="bg-grey-light appearance-none w-full rounded-lg py-2 px-4 text-black" name="email" type="text" value="{{ old:email }}" />
                            </div>
                        </div>
                        
                        <div class="mx-2 md:mx-0 md:flex md:items-center mb-6">
                            <div class="md:w-1/3">
                                <label class="block text-black font-semibold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                                    {{ trans:signup.name }}
                                </label>
                            </div>
                            <div class="md:w-2/3">
                                <input class="bg-grey-light appearance-none w-full rounded-lg py-2 px-4 text-black" name="name" type="text" value="{{ old:name }}" />
                            </div>
                        </div>

                        <div class="mx-2 md:mx-0 md:flex md:items-center mb-6">
                            <div class="md:w-1/3">
                                <label class="block text-black font-semibold md:text-right mb-1 md:mb-0 pr-4" for="inline-username">
                                    {{ trans:signup.password }}
                                </label>
                            </div>
                            <div class="md:w-2/3">
                                <input class="bg-grey-light appearance-none w-full rounded-lg py-2 px-4 text-black" name="password" type="password" />
                            </div>
                        </div>

                        <div class="mx-2 md:mx-0 md:flex md:items-center mb-6">
                            <div class="md:w-1/3">
                                <label class="block text-black font-semibold md:text-right mb-1 md:mb-0 pr-4" for="inline-username">
                                    {{ trans:signup.password }}
                                </label>
                            </div>
                            <div class="md:w-2/3">
                                <input class="bg-grey-light appearance-none w-full rounded-lg py-2 px-4 text-black" name="password_confirmation" type="password" />
                            </div>
                        </div>

                        <div class="md:mx-0 md:flex md:items-center mb-6">
                            <div class="md:w-1/3"></div>
                            <label class="md:w-2/3 block text-black font-semibold">
                                <input class="mr-2 leading-tight" type="checkbox" name="newsletter" />
                                <span class="text-sm">
                                    {{ trans:signup.newsletter }}
                                </span>
                            </label>
                        </div>

                        <div class="md:mx-0 md:flex md:items-center">
                            <div class="md:w-1/3"></div>
                            <div class="md:w-2/3">
                                <button type="submit" class="h-8 bg-red-darker hover:bg-green-dark text-white uppercase text-sm py-1 px-2 -mt-1 rounded-lg">
                                    {{ trans:signup.signup }}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="px-2 md:pl-6 md:pr-0 md:w-3/5">
                        <div class="mx-2 md:mx-0 md:flex md:items-center mb-6">
                            <div class="md:w-1/3 lg:w-1/5"></div>
                            <div class="text-red-darker font-semibold">                            
                                {{ trans:signup.non_obligatoires }}
                            </div>
                        </div>

                        <div class="mx-2 md:mx-0 md:flex md:items-center mb-6">
                            <div class="md:w-1/3 lg:w-1/5">
                                <label class="block text-black font-semibold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                                    {{ trans:signup.address }}
                                </label>
                            </div>
                            <div class="md:w-2/3">
                                <input class="bg-grey-light appearance-none w-full rounded-lg py-2 px-4 text-black" name="address" type="text" value="{{ old:address }}" />
                            </div>
                        </div>

                        <div class="mx-2 md:mx-0 md:flex md:items-center mb-6">
                            <div class="md:w-1/3 lg:w-1/5">
                                <label class="block text-black font-semibold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                                    {{ trans:signup.city }}
                                </label>
                            </div>
                            <div class="flex md:w-2/3">
                                <div class="md:w-1/5 mr-4">
                                    <input class="bg-grey-light appearance-none w-full rounded-lg py-2 px-4 text-black" name="zip" type="text" value="{{ old:zip }}" />
                                </div>
                                <div class="md:w-4/5">
                                    <input class="bg-grey-light appearance-none w-full rounded-lg py-2 px-4 text-black" name="city" type="text" value="{{ old:city }}" />
                                </div>
                            </div>
                        </div>

                        <div class="mx-2 md:mx-0 md:flex md:items-center mb-6">
                            <div class="md:w-1/3 lg:w-1/5">
                                <label class="block text-black font-semibold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                                    {{ trans:signup.phone }}
                                </label>
                            </div>
                            <div class="md:w-1/5">
                                <input class="bg-grey-light appearance-none w-full rounded-lg py-2 px-4 text-black" name="phone" type="text" value="{{ old:phone }}" />
                            </div>
                        </div>

                        <div class="mx-2 md:mx-0 md:flex md:items-center mb-6">
                            <div class="md:w-1/3 lg:w-1/5">
                                <label class="block text-black font-semibold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                                    {{ trans:signup.VAT }}
                                </label>
                            </div>
                            <div class="md:w-1/5">
                                <input class="bg-grey-light appearance-none w-full rounded-lg py-2 px-4 text-black" name="vat" type="text" value="{{ old:vat }}" />
                            </div>
                        </div>

                        <div class="mx-2 md:mx-0 md:flex md:items-center mb-6 text-black font-semibold text-xs">
                            <div class="md:w-1/3 lg:w-1/5"></div>
                            <div>
                                {{ recaptcha:disclaimer }}
                            </div>
                        </div>
                    </div>

                </div>

            {{ /user:register_form }}
        </div>
    </div>
</div>