<script type="application/ld+json">
{{ noparse }}
{
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{ /noparse }}{{ relate:estate }}{{ title }}{{ /relate:estate }} - {{ title }}{{ noparse }}",
      "image": [
          "https://www.levipe.be{{ /noparse }}{{ assets:cover_image }}{{ url }}{{ /assets:cover_image }}{{ noparse }}"
       ],
      "description": "{{ /noparse }}{{ meta_description or description | strip_tags }}{{ noparse }}",
      "sku": "{{ /noparse }}{{ odoo }}{{ noparse }}",
      "brand": {
        "@type": "Organization",
        "name": "{{ /noparse }}{{ relate:estate }}{{ title }}{{ /relate:estate }}{{ noparse }}"
      },
      "offers": {
        "@type": "Offer",
        "url": "{{ /noparse }}{{ permalink }}{{ noparse }}",
        "priceCurrency": "EUR",
        "price": "{{ /noparse }}{{ locales:en }}{{ variants sort="millesime:desc" limit="1" }}{{ price }}{{ /variants }}{{ /locales:en }}{{ noparse }}",
        "priceValidUntil": "31/12/{{ /noparse }}{{ now format="Y" }}{{ noparse }}",
        "itemCondition": "https://schema.org/NewCondition",
        "availability": "https://schema.org/InStock",
        "seller": {
          "@type": "Organization",
          "@id" : "https://www.levipe.be",
          "url" : "https://www.levipe.be",
          "name": "les vins personnalisés"
        }
      }
    }
{{ /noparse }}
</script>